<%- include('../../shared/includes/head', {pageTitle: 'All Products' }) %>
  <link rel="stylesheet" href="/styles/products.css">
  </head>

  <body>
    <%- include('../../shared/includes/header') %>
      <main>
        <div class="center">
          <h1>All Products</h1>
        </div>
        <section>
          <ul id="product-grid">
            <% for (let i=0; i < products.length; i +=2) { %>
              <div class="product-pair">
                <%- include('../../shared/includes/product-item', { product: products[i] }) %>
                  <% if (i + 1 < products.length) { %>
                    <%- include('../../shared/includes/product-item', { product: products[i + 1] }) %>
                      <% } %>
              </div>
              <% } %>
          </ul>
        </section>
      </main>
      <%- include('../../shared/includes/footer') %>